.amarelo-marcas,.amarelo-usuario,
.nav-preto,#preto-icon-shop{
    display: none;
}



/*BOX-AMARELO*/
.box-amarelo{
    padding: 0;
    width: 100%;
    height: 40px;
}

.amarelo-carrossel{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
}

#texto-principal{
    font-size: 20px;
}

/*BOX-PRETO*/

.box-preto{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height:70px;

}

.preto-icone{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    font-size: 25px;
}

.preto-logotipo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#img-logotipo{
    width: 55px;
}

.preto-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
}

.fundo-input{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:5px solid orange;
}

#input-fundopreto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    background-color: transparent;
     border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

#input-fundopreto::placeholder{
    position: relative;
    color: white;
    left: 10px;
    font-size:18px;
}






.fundo-preto-icone-input{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    height: 40%;
    width: 20%;
    background-color: orange;
    border:5px solid orange;
}
#icone-input-fundopreto{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
    color: black;
    font-weight: 900;
}