.amarelo-marcas,.amarelo-usuario,
.nav-preto,#preto-icon-shop,#preto-icon-users{
    display: none;
}



/*BOX-AMARELO*/
.box-amarelo{
    padding: 0;
    width: 100%;
    height: 40px;
}

.amarelo-carrossel{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
}

#texto-principal{
    font-size: 18px;
    font-weight: 600;
}

/*BOX-PRETO*/

.box-preto{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height:70px;

}

#preto-icon-menu{
    display: flex;
}

.preto-icone{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    font-size: 25px;
}



.preto-logotipo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#img-logotipo{
    width: 55px;
}

.preto-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
}

.fundo-input{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border:5px solid orange;
}

#input-fundopreto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
    background-color: transparent;
     border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

#input-fundopreto::placeholder{
    position: relative;
    color: white;
    left: 10px;
    font-size:18px;
}

.fundo-preto-icone-input{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    padding: 10px;
    height: 40%;
    width: 5%;
    background-color: orange;
    border:5px solid orange;
}

#icone-input-fundopreto{
    display: flex;
    align-items: left;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform:translateX(-3px) translateY(-3px);    
    font-size:25px;
    color: black;
    font-weight: 900;
}

.box-menu-mob{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    width: 100%;
    height: 800px;
    flex-wrap: wrap;
    background: rgba(23, 23, 23, 0.551);
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 4;
    opacity: 10;
    padding-top: 20px;
    transform: translateX(450px);
}


.ativar-menumob{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    width: 100%;
    height: 800px;
    flex-wrap: wrap;
    background: rgba(23, 23, 23, 0.551);
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 4;
    opacity: 10;
    padding-top: 20px;
    transform: translateX(-0px);
}

#icon-fechar{
    padding-right: 15px;
    font-size: 25px;
    padding: 10px;
    background-color: orange;
    border-radius: 5px;
}


.fundo-efeitos{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}

#circulo-um{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 40px;
    margin-top: -5px;
}


.fundo-users-menu{
    display: flex;
    align-items: center;
    width: 50%;
    color: white;
}

#icon-users{
    padding-left: 15px;
    font-size: 25px;
}
#nome-usuario{
    padding-left: 5px;
    font-size: 18px;
}

.fundo-fechar-menu{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}

 
#circulo-dois{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 750px;
    margin-top: 0px;
}

#nome-categoria{
    display: flex;
    align-items: center;
    background-color: #0f0f0f;
    width: 100%;
    height: 8%;
    font-size: 20px;
    padding: 15px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.42);
    margin-top: 15px;
}

#nome-categoria:hover{
    background-color: orange;
    color: #0f0f0f;
    font-weight:0;
}

#circulo-tres{
    display: none;
    flex-wrap: wrap;
    width: 100%;
    height: 450px;
    margin-top: 180px;
    background-color: red;
}

#nome-redes-sociais{
    display: flex;
    align-items: center;
    background-color: #0f0f0f;
    width: 100%;
    height: 8%;
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.42);
}

#nome-redes-sociais:hover{
    background-color: orange;
    color: #0f0f0f;
    font-weight:0;
}
