
.preto-pesquisa{
    display: none;
}

.box-amarelo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 2px;
    background-color:#F6A700;
    height: 30px;
}

.amarelo-marcas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:30%;
    height: 100%;
}

#img-marcas{
    width: 25px;
}

.amarelo-carrossel{
    display: flex;
    align-items: center;
    width:65%;
    height: 100%;
}
#texto-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.amarelo-usuario{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:30%;
    height: 100%;
}

#amarelo-seta-esquerda{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 5%;
    height: 100%;
}

#amarelo-seta-direita{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 5%; 
    height: 100%;
}


/*BOX-PRETO*/

.box-preto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 2px;
    background-color: black;
    color: white;
}

.preto-logotipo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
    height: 100%;
}

#img-logotipo{
    width: 70px;
}

.nav-preto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
}

.preto-icone{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
    height: 100%;
}