.box-tela-inicial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #0f0f0f;
}
#img-carrossel-inicial{
    width: 150px;
    height: 150px;
}

