.box-tela-inicial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}
#img-carrossel-inicial{
    width: 150px;
    height: 150px;
}

