.fundo-promoçao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.fundo-bloco-promoçao{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.bloco-promoçao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height:250px;
    background-color: #B87400;
    border-radius: 20px;

    cursor: pointer;
    transition:0.2s;

}

.fundo-produtos-promoça{
    display: flex;
    justify-content: left;
    overflow-x:visible;
    padding: 10px;
    width: 40%;
    background-color: orange;
    height: 90%;
    margin-left: 100px;
}

